<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-7">
            <div class="title-box">

                <h5>{{title}}</h5>

            </div>
        </div>
    </div>
    <div class="row">
        {{#each bookData}}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="product-top">
                <a href="http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}">
                    <img src='http://localhost:8080/uploadedImages/{{this.BOOK_COVER}}'></a>
                <div class="overlay-right">
                    <button type="button" class="btn btn-secondary" title="Quick Shop" onclick="location.href='http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}'">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                        <i class="fa fa-heart-o"></i>
                        
                    </button> 
                    <form action="/add/{{this.BOOK_ID}}" method="GET">
                    <button type="submit" class="btn btn-secondary" title="Add to Cart" onclick="this.form.submit()">
                        <i class="fa fa-shopping-cart"></i>
                    </button>
                    </form>
                </div>
            </div>
            <div class="product-bottom text-center">
                <h3>{{this.BOOK_TITLE}}</h3>
                <h5>{{this.BOOK_AUTHOR}}</h5>
                <h5>{{this.BOOK_PRICE}}</h5>
            </div>
        </div>
        {{/each}}

    </div>
</div>
</div>