<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Admin Page</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/adminDashboard.css">
    <link rel="shortcut icon" href="/images/new/eb4.png" type="image/x-icon">    <script src="https://kit.fontawesome.com/85f9dbedb7.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.0/dist/chart.min.js"></script>
</head>

<body>

    {{> adminHeader}}

    <!--Begin page content-->
    <div class="container-fluid px-lg-4">
        <div class="row .d-flex">
            <div class="col-md-12 mt-lg-4 mt-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body" id="sales-box">
                                <h5 class="card-title mb-4">
                                    Books
                                </h5>
                                <h1 class="display-5 mt-1 mb-3">
                                    {{#each booksCount}}
                                    {{this.booksCount}}
                                    {{/each}}
                                </h1>
                                <div class="mb-1">
                                    <span class="text-danger"></span>

                                    <span class="text-muted">Total number of books</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body" id="user-box">
                                <h5 class="card-title mb-4">
                                    Users
                                </h5>
                                <h1 class="display-5 mt-1 mb-3">
                                    {{#each usersCount}}
                                    {{this.usersCount}}
                                    {{/each}}
                                </h1>
                                <div class="mb-1">
                                    <span class="text-danger"></span>
                                    <span class="text-muted">Total number of users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body" id="book-box">
                                <h5 class="card-title mb-4">
                                    Sales
                                </h5>
                                <h1 class="display-5 mt-1 mb-3">
                                    {{#each salesTotal}}
                                    P{{this.totalSales}}
                                    {{/each}}
                                </h1>
                                <div class="mb-1">
                                    <span class="text-danger">
                                        <i class="mid mid-arrow-bottom-right"></i>
                                    </span>
                                    <span class="text-muted">Total amount of sales</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {{!-- Top 3/5/10 Chart --}}
                    <div class = "card2">
                        <form class = "d-flex justify-content-between" action="/adminTopChart" method="POST">
                         <h1 class="h4 text-left text-gray-800">Top Selling Books</h1>
                            <div class="float-right">
                                <select class="custom-select" name="selectTop" id="selectTop" onchange="this.form.submit()">
                                    <option class="text-muted" name="default" value="default">All</option>
                                    <option name="3" value="3">3</option>
                                    <option name="5" value="5">5</option>
                                    <option name="10" value="10">10</option>
                                </select>
                            </div>
                        </form>
                        <hr>
                        <div>
                            <canvas id="topBooksChart" width="1100" height="500"></canvas> 
                        </div>
                    </div>
                    {{!-- Top sales of book bar chart --}}
                    <div class="card2">
                         <form class = "d-flex justify-content-between" action="/adminSelectChart" method="POST">
                        <h1 class="h4 text-left text-gray-800">{{barChartName}}</h1>
                            <div class="dl float-left">
                                <select class="custom-select" name="selectCategory" id="selectCategory" onchange="this.form.submit()">
                                    <option class="text-muted" name="category" value="default">All</option>
                                    <option class="text-muted" name="category" value="all">Select All</option>
                                    <option name="category" value="Agriculture, Aquaculture, and Food Service">Agriculture, Aquaculture, and
                                        Food Service</option>
                                    <option name="category" value="Architecture and Planning">Architecture and Planning</option>
                                    <option name="category" value="Arts and Applied">Arts and Applied</option>
                                    <option name="category" value="Business, Economics, Finance, and Accounting">Business, Economics, Finance,
                                        and Accounting
                                    </option>
                                    <option name="category" value="Chemistry">Chemistry</option>
                                    <option name="category" value="Computer Science and Information Technology">Computer Science and Information
                                        Technology</option>
                                    <option name="category" value="Chemistry">Earth, Space, and Environmental Science</option>
                                    <option name="category" value="Humanities">Humanities</option>
                                    <option name="category" value="Law and Criminology">Law and Criminology</option>
                                    <option name="category" value="Life Science">Life Science</option>
                                    <option name="category" value="Mathematics and Statistics">Mathematics and Statistics</option>
                                    <option name="category" value="Medicine">Medicine</option>
                                    <option name="category" value="Novel">Novel</option>
                                    <option name="category" value="Life Science">Nursing, Dentistry, and Healthcare</option>
                                    <option name="category" value="Physical Science and Enginering">Physical Science and Enginering</option>
                                    <option name="category" value="Psychology">Psychology</option>
                                    <option name="category" value="Social and Behavioral Science">Social and Behavioral Science</option>
                                    <option name="category" value="Veterinary Medicine">Veterinary Medicine</option>
                                </select>
                            </div>
                        </form>
                        <hr>
                        <div>
                            <canvas id="barChart" width="1100" height="500"></canvas>
                        </div>
                    </div>
                    {{!-- Sales line chart --}}
                    <div class="card2 mb-5">
                        <div class="row d-flex align-items-center">
                    
                            <div class="col-lg-4 col-md-4 d-flex">
                                <div class="card w-100 d-flex d-block align-items-center daily_sales" type="button"
                                    onclick="location.href='http://localhost:8080/data/adminDaily'">
                                    <div class="card-body">
                                        <h5>Daily Sales</h5>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="col-lg-4 col-md-4 d-flex">
                    
                                <div class="card w-100 d-flex d-block align-items-center monthly_sales" type="button"
                                    onclick="location.href='http://localhost:8080/data/adminMonthly'">
                                    <div class="card-body">
                                        <h5>Monthly Sales</h5>
                                    </div>
                                </div>
                    
                            </div>
                            <div class="col-lg-4 col-md-4 d-flex">
                    
                                <div class="card w-100 d-flex d-block align-items-center annual_sales" type="button"
                                    onclick="location.href='http://localhost:8080/data/adminAnnual'">
                                    <div class="card-body">
                                        <h5>Annual Sales</h5>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                   
                    <div>
                        {{#if daily}}
                        <form action="/adminSalesChart" method="POST">
                            <div class="dl float-right">
                                <select class="custom-select" name="selectedDaily" id="selectedDaily" onchange="this.form.submit()">
                                    <option class="text-muted" name="default" value="default">All</option>
                                    {{!-- <option name="none" value="none">None</option> --}}
                                    {{#each dailyLabel}}
                                    <option name={{this}} value={{this}}>{{this}}</option>
                                    {{/each}}
                                    <input type="hidden" name="timeframe" value="daily" />
                                </select>
                            </div>
                        </form>
                        {{/if}}
                        {{#if monthly}}
                        <form action="/adminSalesChart" method="POST">
                            <div class="dl float-right">
                                <select class="custom-select" name="selectedMonthly" id="selectedMonthly" onchange="this.form.submit()">
                                    <option class="text-muted" name="default" value="default">All</option>
                                    {{!-- <option name="none" value="none">None</option> --}}
                                    {{#each monthLabel}}
                                    <option name={{this}} value={{this}}>{{this}}</option>
                                    {{/each}}
                                    <input type="hidden" name="timeframe" value="monthly" />
                                </select>
                            </div>
                        </form>
                        {{/if}}
                        {{#if annual}}
                        <form action="/adminSalesChart" method="POST">
                            <div class="dl float-right">
                                <select class="custom-select" name="selectedAnnualy" id="selectedAnnualy" onchange="this.form.submit()">
                                    <option class="text-muted" name="default" value="default">All</option>
                                    {{#each annualLabel}}
                                    <option name={{this}} value={{this}}>{{this}}</option>
                                    {{/each}}
                                    <input type="hidden" name="timeframe" value="annual" />
                                </select>
                            </div>
                        </form>
                        
                        {{/if}}
                       
                        <div>
                            <canvas id="lineChart" width="700" height="200"></canvas>
                        </div>
                        {{!-- Insert message for prediction here --}}
                        {{#if prediction}}
                            <p>*{{prediction}}</p>
                        {{/if}}
                    </div>
                    </div>
                </div>
            
        </div>
    </div>

{{> adminFooter}}
    
    </div>
    </div>
    </div>
    </div>
{{!-- ['book1', 'book2', 'book3'] [1,2,3] --}}
    <script>
        let topBooks = JSON.parse(decodeURI("{{topBooks}}"));
        let topBooksSales = JSON.parse(decodeURI("{{topBooksSales}}"));
        var ctx = document.getElementById('topBooksChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: topBooks,
                datasets: [{
                    data: topBooksSales,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2,
                    barThickness: 30
                }]
            },
            options: {
                indexAxis: 'y',
                plugins: {
                    title: {
                        align: 'center',
                        display: 'true',
                        text: "",
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        let books = JSON.parse(decodeURI("{{books}}"));
        let bookSales = JSON.parse(decodeURI("{{bookSales}}"));
        var ctx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: books,
                datasets: [{
                    data: bookSales,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2,
                    barThickness: 30
                }]
            },
            options: {
                indexAxis: 'y',
                plugins: {
                    title: {
                        align: 'center',
                        display: 'true',
                        text: ""
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        let salesLabel = JSON.parse(decodeURI("{{salesLabel}}"));
        let totalSales = JSON.parse(decodeURI("{{totalSales}}"));
        var ctx = document.getElementById('lineChart').getContext('2d');
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: salesLabel,
                datasets: [{
                    data: totalSales,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        align: 'center',
                        display: 'true',
                        text: "{{lineChartName}}",
                        font: {
                            size: 25,
                            family: 'Montserrat',
                            style: 'normal'
                        }
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script type="text/javascript">
        $('#bar').click(function () {
            $(this).toggleClass('open');
            $('#page-content-wrapper, #sidebar-wrapper').toggleClass('toggled');
        });
    </script>

    <script>
        // When the user clicks on <div>, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
