<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Main Page</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mainHome.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/85f9dbedb7.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row header" id="head">
            <div class="col-12">
                <header class="row">
                    <!--Start Header-->
                    <div class="top-nav col-12 pt-3">
                        <header>
                            <div class="responsive-bar">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="logo">
                                            <a href="/"><img src="images/new/logo.png"></a>
                                        </div>

                                        <div class="menu">
                                            <span onclick="openNav()"><i class="fas fa-bars"></i></span>
                                        </div>

                                        <div class="shop-cart">
                                            <a href="/cart"> <i class="fas fa-shopping-cart"></i>
                                                <span class='badge badge-warning' id='lblCartCount' value="cartCount">{{session.cart.totalQty}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <nav>
                                <div class="logo my-auto">
                                    <a href="/"><img src="images/new/logo.png" class="img-fluid my-auto"></a>
                                </div>

                                <div>
                                    <ul>
                                        <!--
                                        <li id="navbar-search-btn"><a href="#search" class="search-form-tigger"
                                                data-toggle="search-form"><i class="fa fa-search"
                                                    aria-hidden="true"></i> browse</a>
                                            <div class="search-form-wrapper">
                                                <form class="search-form" id="" action="/data/searchBooks"
                                                    method="POST">
                                                    <div class="input-group">
                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                        <input type="text" name="searchBook" class="search form-control"
                                                            placeholder="Search...">

                                                        <span class="input-group-addon" data-toggle="search-form-close"
                                                            id="basic-addon2"><i class="fa fa-times"
                                                                aria-hidden="true"></i>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        -->
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/library">Library</a></li>
                                        <li class="dropdown dropdown-menu-right">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CATEGORIES<b class="caret"></b></a>  
                                            
                                                <ul class="dropdown-menu mega-menu column dropdown-menu-right" >
                                                    <li><a href="/category/Agriculture, Aquaculture, and Food Service">AGRICULTURE, AQUACULTURE, AND FOOD SERVICE</a></li>
                                                    <li><a href="/category/Architecture and Planning">ARCHITECTURE AND PLANNING</a></li>
                                                    <li><a href="/category/Arts and Applied">ARTS AND APPLIED</a></li>
                                                    <li><a href="/category/Business, Economics, Finance, And Accounting">BUSINESS, ECONOMICS, FINANCE, and ACCOUNTING</a></li>
                                                    <li><a href="/category/Chemistry">CHEMISTRY</a></li>
                                                    <li><a href="/category/Computer Science and Information Technology">COMPUTER SCIENCE AND INFORMATION TECHNOLOGY</a></li>
                                                    <li><a href="/category/Earth, Space, and Environmental Science">EARTH, SPACE, AND ENVIRONMENTAL SCIENCE</a></li>
                                                    <li><a href="/category/Humanities">HUMANITIES</a></li>
                                                    <li><a href="/category/Law and Criminology">LAW AND CRIMINOLOGY</a></li>
                                                    <li><a href="/category/Life Science">LIFE SCIENCE</a></li>
                                                    <li><a href="/category/Mathematics and Statistics">MATHEMATICS AND STATISTICS</a></li>
                                                    <li><a href="/category/Medicine">MEDICINE</a></li>
                                                    <li><a href="/category/Novel">NOVEL</a></li>
                                                    <li><a href="/category/Nursing, Dentistry, and Healthcare">NURSING, DENTISTRY, AND HEALTHCARE</a></li>
                                                    <li><a href="/category/Physical Science and Engineering">PHYSICAL SCIENCE AND ENGINEERING</a></li>
                                                    <li><a href="/category/Psychology">PSYCHOLOGY</a></li>
                                                    <li><a href="/category/Social and Behavioral Science">SOCIAL AND BEHAVIORAL SCIENCE</a></li>
                                                    <li><a href="/category/Veterinary Medicine">VETERINARY MEDICINE</a></li>
                                                </ul>    
                                            
                                        </li>
                                        <li>
                                            {{#if user}}
                                                <a href="/cart">
                                                <i class="fas fa-shopping-cart "></i>
                                                    <span class='badge badge-warning' id='lblCartCount'
                                                        value="cartCount">{{session.cart.totalQty}}</span>
                                                </a>
                                            {{else}}
                                                
                                            {{/if}}
                                        </li>
                                        <li>

                                            
                                            {{#if user}}
                                            <a href="#"><i class="fas fa-user"></i></a>
                                            <ul class="user-log">
                                                <li><a href="/userProfile">Profile</a></li>
                                                <li><a href="/auth/logout">Logout</a></li>
                                            </ul>
                                            {{else}}
                                                <li >
                                                    <a href="/userLoginPage" class="my-auto p-0">
                                                        <button type="button" class="btn my-auto btn-login py-1 px-5">LOG-IN</button>
                                                    </a>
                                                </li>
                                            {{/if}}
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                            
                            <!-- The overlay -->
                            <div id="myNav" class="overlay text-left">
                                <!-- Overlay content -->
                                <div class="overlay-content">
                                    <div class="close-nav">
                                        <span onclick="closeNav()"><i class="fa fa-times"></i></span>
                                    </div>
                                    <div class="overlay-logo">
                                        <img src="images/new/logo-white.png">
                                    </div>
                                    <form class="search-form" id="" action="/data/searchBooks" method="POST">
                                        <div class="overlay-box">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                            <input type="text" name="searchBook" placeholder="Search...">
                                        </div>
                                    </form>
                                    <hr>
                                    {{#if user}}
                                    <a href="/userProfile"><i class="fas fa-user-alt ml-2 mt-2"></i><span></span> PROFILE</a>
                                    <a href="/library"><i class="fas fa-book ml-2 mt-2"></i> LIBRARY</a>
                                    {{/if}}
                                    <hr>
                                        <a href="/category/action-adventure">AGRICULTURE, AQUACULTURE, AND FOOD SERVICE</a></li>
                                        <a href="/category/childrens-fiction">ARCHITECTURE AND PLANNING</a></li>
                                        <a href="/category/comic-graphic">ARTS AND APPLIED</a>
                                        <a href="/category/drama">BUSINESS, ECONOMICS, FINANCE, and ACCOUNTING</a>
                                        <a href="/category/fairytale">CHEMISTRY</a>
                                        <a href="/category/fantasy-scifi">COMPUTER SCIENCE AND INFORMATION TECHNOLOGY</a>
                                        <a href="/category/horror-thriller">EARTH, SPACE, AND ENVIRONMENTAL SCIENCE</a>
                                        <a href="/category/mystery">HUMANITIES</a>
                                        <a href="/category/romance">LAW AND CRIMINOLOGY</a>
                                        <a href="/category/young-adult">LIFE SCIENCE</a>
                                        <a href="/category/action-adventure">MATHEMATICS AND STATISTICS</a>
                                        <a href="/category/childrens-fiction">MEDICINE</a>
                                        <a href="/category/comic-graphic">NOVEL</a>
                                        <a href="/category/drama">NURSING, DENTISTRY, AND HEALTHCARE</a>
                                        <a href="/category/fairytale">PHYSICAL SCIENCE AND ENGINEERING</a>
                                        <a href="/category/fantasy-scifi">PSYCHOLOGY</a>
                                        <a href="/category/horror-thriller">SOCIAL AND BEHAVIORAL SCIENCE</a>
                                        <a href="/category/mystery">VETERINARY MEDICINE</a>
                                    <hr>
                                    {{#if user}}
                                    <a href="/auth/logout"><button type="button" class="btn my-auto btn-login py-1 px-5">LOGOUT</button></a>
                                    {{else}}
                                    <a href="#"><button type="button" class="btn my-auto btn-login py-1 px-5">LOG-IN</button></a>
                                    {{/if}}
                                    <hr>
                                </div>
                            </div>
                        </header>
                        <!--End Header-->

                        <!--Nav-->

                        <!--End Nav-->
                    </div>
                    <!--End Header-->
                </header>
            </div>
        </div>
    </div>


    <!-- HEADER NEW -->
    <div class="container-fluid   col-12 head pt-5">
        <div class="row col-12">
            <div class="column col-md-6 col-12 mx-auto my-auto no-gutter">

                    <div class=" col-lg-8 col-12 mx-auto" >
                           <img class="col-12" src="images/new/tag.png">
                    </div>
                 
                    <div class="row col-lg-8 col-12 mx-auto no-gutters">
                        <form class="form-group col-md-10 col-8 pr-2" id="" action="/data/searchBooks" method="POST">
                            <input type="text" name="searchBook" placeholder="Search..."  class="form-control col-12 py-2 px-4" >
                        </form>
                        <div class="col-md-2 col-3 ">
                            <button type="button" class="btn btn-search col-12"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
            </div>

            <div class="col-md-6 col-12">
                <img class="col-12  d-md-block  d-none" src="images/new/header-img.png">
                <div class="mb-5 d-md-none"></div>
            </div>
        </div>
        
    </div>
    <!-- HEADER NEW -->


   <!--Section-1-->
    <div id="sectionnew" class="mx-auto pt-5 container-fluid col-12  new mb-3">
 
        <div class="container mx-auto col-12">
            <div class="title-box mx-auto col-12">
                <p class="text-center">E-BOOKASYON'S</p>
                <h2 class="text-center">BEST SELLING BOOKS</h2>
            </div>
            
            <div class="container row col-sm-12 col-10 mt-4 mx-auto">
                 {{#each topSaleBooks}}
               
                    <div class="mx-auto  best-card col-xl-8 col-md-10 col-sm-10 col-12 p-4 align-items-center">
                        <a href="http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}"></a>
                        <div class="row">

                            <div class="col-xl-4 col-lg-6 col-md-10  right mb-5 mt-sm-5 mx-auto">
                                <div class="book-cover-new col-12">
                                        <img src='http://localhost:8080/uploadedImages/{{this.BOOK_COVER}}' class="img-fluid img">
                                </div>
                            </div>

                            <div class="left column col-xl-8 col-lg-6 col-md-10 mx-auto"> 
                                <h1  class="pt-4">{{inc @index}}</h1>
                              
                                <button type="button" class="btn btn-autor px-5"> {{this.BOOK_AUTHOR}}</button>
                                <h3> {{this.BOOK_TITLE}}</h3>
                                <h4 class="">P {{this.BOOK_PRICE}}</h4>
                                <p>{{this.BOOK_DESC}}</p>
                                
                                <form action="/add/{{this.BOOK_ID}}" method="GET" >
                                    <button type="button" class="btn btn-search col-12 mx-auto float-right"  onclick="this.form.submit()"><i class="fas fa-plus"></i> ADD TO CART</button>
                                </form>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                
                {{/each}}
            </div>
               
        </div>
        
    </div>

    <!--Section-2-->
    <div class=" must-sec mx-auto pt-5 container-fluid col-12  new my-5">
 
        <div class="container mx-auto col-12">
            <div class="must-title-box mx-auto col-12">
                <p class="text-center">E-BOOKASYON'S</p>
                <h2 class="text-center">MUST READ</h2>
            </div>
            
            <div class="container row  col-xl-10 col-12 p-0  mt-4 mx-auto">
                   {{#each newBook}}
               
                    <div class="col-lg-4 col-md-6 col-12 pd-lg-3 p-md-4 p-sm-5 p-4 ">
                        
                        <div class=" must-read col-12">
                             
                                <div class=" col-12  right mb-1 mt-sm-5 mx-auto">
                                    <div class="book-cover col-12">
                                         <a href="http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}">
                                            <img src='http://localhost:8080/uploadedImages/{{this.BOOK_COVER}}' class="img-fluid img">
                                         </a>
                                    </div>
                                </div>

                                <div class="left column col-10 mx-auto pb-5"> 
                                
                                    <div class="col-12 d-flex justify-content-center "><button type="button" class="btn btn-autor  px-5 mt-4 "> {{this.BOOK_AUTHOR}}</button></div>
                                    <h3 class="mb-0 text-center"> {{this.BOOK_TITLE}}</h3>
                                    <h4 class="mb-0 text-center">P {{this.BOOK_PRICE}}</h4>
                                     
                                    <form action="/add/{{this.BOOK_ID}}" method="GET" >
                                        <button type="button" class="btn btn-add col-12 mx-auto  float-right mb-3" onclick="this.form.submit()"><i class="fas fa-plus"></i> ADD TO CART</button>
                                    </form>
                                   
                                    <div class="space-2 pb-4"></div>
                                </div>
                           
                        </div>
                    </div>
                    
                
                {{/each}}
         
            </div>
               <div class="space pb-4"></div>
        </div>
        
    </div>

    <!--Section-3-->
    <div class=" new-sec mx-auto pt-5 container-fluid col-12  new my-5">
 
        <div class="container mx-auto col-12">
            <div class="new-title-box mx-auto col-12">
                <p class="text-center">E-BOOKASYON'S</p>
                <h2 class="text-center">NEW ARRIVAL</h2>
            </div>
            
            <div class="container row  col-xl-10 col-12 p-0  mt-4 mx-auto">
                   {{#each newBook}}
               
                    <div class="col-lg-4 col-md-6 col-12 pd-lg-3 p-md-4 p-sm-5 p-4 ">
                        
                        <div class=" new-read col-12">
                             
                                <div class=" col-12  right mb-1 mt-sm-5 mx-auto">
                                    <div class="book-cover-2 col-12">
                                         <a href="http://localhost:8080/display/{{this.BOOK_CATEGORY}}/{{this.BOOK_TITLE}}">
                                            <img src='http://localhost:8080/uploadedImages/{{this.BOOK_COVER}}' class="img-fluid img">
                                         </a>
                                    </div>
                                </div>

                                <div class="left column col-10 mx-auto pb-5 "> 
                                    <div class="col-12 d-flex justify-content-center "><button type="button" class="btn btn-autor  px-5 mt-4 "> {{this.BOOK_AUTHOR}}</button></div>
                                    <h3 class="mb-0 text-center"> {{this.BOOK_TITLE}}</h3>
                                    <h4 class="mt-0 text-center">P {{this.BOOK_PRICE}}</h4>
                                    
                                    <form action="/add/{{this.BOOK_ID}}" method="GET" >
                                        <button type="submit" class="btn btn-add col-12 mx-auto  float-right mb-3"  onclick="this.form.submit()"><i class="fas fa-plus"></i> ADD TO CART</button>
                                    </form>
                                   
                                    <div class="space-2 pb-4"></div>
                                </div>
                           
                        </div>
                    </div>
                    
                
                {{/each}}
         
            </div>
               
        </div>
        
    </div>
   

    <!--Footer-->
    <section class="footer">
        <div class="container-fluid text-left mx-auto col-12 ">
            <div class="row col-xl-8 col-lg-12 col-10 mx-auto py-4">
                <div class=" col-lg-4 col-10 my-1 mx-auto">
                    <div class="col-8 p-0 ">
                        <a href="/">
                            <img src="images/new/logo-white-2.png" class="col-10"></a>
                    </div>

                     <div class="col-12 mx-auto mt-3">
                                <i class="fab fa-facebook-square fa-2x pr-1"></i>
                                <i class="fab fa-twitter-square fa-2x px-1"></i>
                                <i class="fab fa-instagram-square fa-2x px-1"></i>
                                <i class="fab fa-linkedin  fa-2x pl-1"></i>
                    </div>
                    <div class="column col-12 mt-3">
                        <h3>Contact Us</h3>
                        <p class="mb-1">Questions? We've got answers.</p>
                        <button type="button" class="btn btn-contact-us py-1 px-2 ">Contact Us</button>
                    </div>
                </div>

                <div class="row col-lg-4 col-10 my-1 mx-auto">
                    <div class="column col-12 ">
                        <h3>About Us</h3>
                        <div class="row col-12">
                            <div class="col-1">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="col-10">
                                <p class="m-1">7525 Carriage Ave.Dekalb, IL 60115 7525 Carriage Ave.Dekalb, IL 60115</p>
                            </div>
                        </div>
                        <div class="row col-12 mt-1">
                            <div class="col-1">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="col-10">
                                <p class="m-1">+1-202-555-0151</p>
                            </div>
                        </div>
                        <div class="row col-12 mt-2">
                            <div class="col-1">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="col-10">
                                <p class="m-1">e-bookasyon.us@domain.com</p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="row col-lg-4 col-10 my-1 mx-auto">
                    <div class="column col-12 ">
                        <h3>Subscribe</h3>
                        <div class="form-group col-12 p-0">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="col-12 p-0">
                              <button type="submit" class="btn btn-subscribe col-12">Subscribe</button>
                        </div>
                      
                        
                        
                        
                    </div>
                </div>

                
            </div>
           
        </div>
    </section>

    <script type="text/javascript">
        $(window).on('scroll', function () {
            if ($(window).scrollTop()) {
                $('nav').addClass('black');
            } else {
                $('nav').removeClass('black');
            }
        })
    </script>

    <script>
        const scrollUp = document.querySelector('.scrollUp');
        window.addEventListener('scroll', () => {
            if (window.pageYOffset > 100) {
                scrollUp.classList.add("active");
            } else {
                scrollUp.classList.remove("active");
            }
        })
    </script>

    <script>
        const search_btn = document.getElementById('navbar-search-btn')
        window.addEventListener('scroll', () => {
            if (window.pageYOffset > 350) {
                search_btn.classList.add("search-btn");
            } else {
                search_btn.classList.remove("search-btn");
            }
        })
    </script>

    <script>
        /* Open when someone clicks on the span element */
        function openNav() {
            if (document.getElementById("myNav").style.width == "100%") {
                document.getElementById("myNav").style.width = "0";
            } else {
                document.getElementById("myNav").style.width = "100%";
            }
        }
        function closeNav() {
            if (document.getElementById("myNav").style.width == "100%") {
                document.getElementById("myNav").style.width = "0";
            } else {
                document.getElementById("myNav").style.width = "100%";
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle=search-form]').click(function () {
                $('.search-form-wrapper').toggleClass('open');
                $('.search-form-wrapper .search').focus();
                $('html').toggleClass('search-form-open');
            });
            $('[data-toggle=search-form-close]').click(function () {
                $('.search-form-wrapper').removeClass('open');
                $('html').removeClass('search-form-open');
            });
            $('.search-form-wrapper .search').keypress(function (event) {
                if ($(this).val() == "Search") $(this).val("");
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();
                    // Store hash
                    var hash = this.hash;
                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        });
    </script>

   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {{> alertMessage}}

</body>

</html>
